/**
    Title: theme.css
    Author: Angela Martin
    Date: 05/16/2021
    Description: Styling for Personal Profile html files.
 */

  /** The styling variants for the light mode. */
body.light-theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4F3674;
    --h1-background-color: #3c275a;   
    --heading-background-color: #3c275a;
    --heading-color: #fff;   
    --anchor-hover-color: #4F3674;
    --anchor-hover-background-color: lightseagreen;
    --card-background-color: #fff;
    --card-title-color: #4F3674;
    --btn-background-color: #4F3674;
    --btn-color: #fff;
    --btn-hover-background-color: lightseagreen;
    --btn-hover-color: #4F3674;
    --input-border-color: #ccc;
}

/** The styling variants for the dark mode. */
body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #D176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #D176e1;
    --btn-background-color: #D176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
    --table-header-background-color: #D176E1;
    --table-header-color: #fff;
    --table-border-color: #303030;
    --table-hover-background-color: #7D4787;
    --table-hover-color: #fff; 
}

/* Anchor styling with variables */
a {
    color: var(--anchor-color);
    text-decoration: none;
}

/* Anchor hover styling with variables */
a:hover{
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}

/* Heading 1 styling with variables */
h1 {
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border: solid 1px;
    border-color: var(--h1-border-color);
}

/** The styling for heading 1, heading 2 and heading 3. */
h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border: solid 1px;
    border-color: var(--heading-border-color);
}

/** The box-shadow styling for the card. */
.card {
    color: black;
    height: auto;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);               
    transition: 0.3s;
    background-color: var(--card-background-color);
}

/** The box-shadow styling for the card1. */
.card1 {
    height: auto;    
    background-color: #8585ad;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);               
    transition: 0.3s;    
}

.card2 {
    height: auto;
    background-color: #8585ad;
}

/** Styling for card-title1 class. */
.card-title1 {    
    text-align: center;
    padding: 30px;    
    background-color: #c2c2d6;
    font-size: 44px;    
    font-weight: 400;
}

/** Styling for the card-title2 class. */
.card-title2 {
    padding: 20px 20px 20px 25px;    
    text-align: left;
    font-size: 2em;
    font-weight: 400;
}

/** Styling for the card-title2 class. */
.card-title3 {
    padding: 20px 20px 20px 25px;    
    text-align: left;
    font-size: 2em;
    font-weight: 400;
}

/** Styling for the card-title2 class. */
.card-title4 {
    height: 675px;
    padding: 20px 20px 20px 25px;    
    text-align: left;
    font-size: 2em;
    font-weight: 400;
}

/** Adds padding to the card-content class. */
.card-content {
    height: 250px;
    padding: 2px 25px;    
}

/** Styles box-shadow for card class when hovered over. */
.card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

/** Styling for the button class. */
.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: black;
}

/** Styling for the btn-primary class. */
.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}






